/***************************** COMMON CSS STARTS *****************************/
	
	*{
		font-family: 'Lato', sans-serif;
	}


	/******************* HEADER CSS STARTS *******************/
		header{
			position: absolute;
			width: 100%;
			z-index: 11;
		}
		header .left-img img{
			max-width: 30px;
		}
		header .left-img a{
			color: #fff;
		}
		.stellarnav .menu-toggle span.bars{
		    left: -13px;
		}
		.stellarnav>ul>li{
			font-size: 14px;
		}
		.stellarnav li.has-sub>a:after {
		    content: '\f078';
		    font-family: 'FontAwesome';
		    margin-left: 10px;
		     border-left: none;
		     border-right: none;
		    border-top: none;
		    display: inline-block;
		}
		.stellarnav>ul>li>a{
            padding: 10px 20px !important;
            color: #fff;
        }
        .stellarnav ul ul{
        	background: #fff;
        }
        .stellarnav>ul>li:last-child a{
            padding-right: 0px !important;
            padding-left: 26px !important;
            color: #fff;
        }
        .stellarnav>ul>li:last-child a i{
        	color: #fff;
        }
        .stellarnav.mobile.right>ul, .stellarnav.mobile.right>ul{
            background: #007dbb;  
        }
        .stellarnav .menu-toggle span.bars span{
            background: #fff !important;
        }
        .stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile, .stellarnav.mobile .menu-toggle{
            position: absolute;
		    left: 84%;
		    top: -47px;
        }
        .stellarnav img{
            max-width: 35%;
            display: none;
        }
        .sub-menu{
        }
        .sub-menu li{
            position: relative;
        }
        .sub-menu li:after{
            position: absolute;
            content: '';
            border-top: 1px solid #f1f1f1;
            height: 1px;
            width: 100%;
            left: 0px;
            bottom: 0px;
        }
        .sub-menu li a{
            padding: 18px !important;
            color: #212121;
            font-weight: 600;
        }
        .stellarnav a.dd-toggle .icon-plus:after, .stellarnav a.dd-toggle .icon-plus:before{
            border-bottom: solid 3px #fff !important;
        }
        .stellarnav.mobile.right .close-menu, .stellarnav.mobile.right .close-menu{
            color: #fff;
        }
		.stellarnav.mobile.right>ul, .stellarnav.mobile.right>ul{
            z-index: 1111;
        }
		.stellarnav .icon-close:after, .stellarnav .icon-close:before{
            border-color: #fff;
        }
        @media(max-width: 1199px){
			.stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile, .stellarnav.mobile .menu-toggle{
				top: -26px;
			}
		}
		 @media(max-width: 1199px){
            .stellarnav, .stellarnav li{
        		left: unset;
        	}
            .stellarnav>ul>li>a{
                padding: 10px 11px !important;
            }
        }
        @media(max-width: 991px){
            .stellarnav img{
                display: inline-block !important;
            }
            .stellarnav>ul>li>a{
                padding: 20px !important;
            }
            .stellarnav.mobile, .stellarnav.mobile.fixed{
				width: 35px;
			}
			.stellarnav .menu-toggle span.bars{
				top: 9px;
			}
        }
        @media(max-width: 767px){
            header{
                position: unset;4
                background: -webkit-linear-gradient(left, #73ab89, #3a3c9c);
                background: -o-linear-gradient(left, #73ab89, #3a3c9c);
                background: linear-gradient(to right, #73ab89, #3a3c9c);
            }
            .stellarnav.midl{
                top: unset;
                transform: unset;
            }			
			.stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile, .stellarnav.mobile .menu-toggle{
				top:-48px;
			}
		}
		@media(min-width: 300px) and (max-width: 375px){
			.stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile, .stellarnav.mobile .menu-toggle{
				left: 81%;
			}
		}

	/******************** HEADER CSS ENDS ********************/


	/******************* BANNER CSS STARTS *******************/
		
		.banner{
			position: relative;
		}

	/******************** BANNER CSS ENDS ********************/

/****************************** COMMON CSS ENDS ******************************/


/************************** CONTACT PAGE CSS STARTS **************************/

    .contac-mian{
        position: relative;
    }
    .contact-main .hd{
        font-size: 18px;
        padding: 10px 20px;
        color: #fff;
        background: -webkit-gradient(linear,left top,right top,from(#2799dd),to(#2658cc));
        background: linear-gradient(to right,#2799dd,#2658cc);
        /*position: absolute;
        top: 265px;*/
    }
    .contact-main .hd h3{
        font-size: 18px;
    }
    .bread-crumb ul{
        list-style: none;
        margin-top: 15px;
    }
    .bread-crumb ul li{
        display: inline-block;
        margin: 0px 15px;
        position: relative;
    }
    .bread-crumb ul li:nth-child(1){
        margin: 0px;
    }
    .bread-crumb ul li:after{
        position: absolute;
        content: '/';
        height: 100%;
        width: 3px;
        top: 0px;
        right: -10px;
    }
    .bread-crumb ul li:last-child:after{
        display: none;
    }
    @media(max-width: 1199px){
        .contact-main .hd{
            top: 155px;
        }
    }
    @media(max-width: 991px){
       .contact-main .hd{
            top: 110px;
        } 
    }
     @media(max-width: 767px){
       .contact-main .hd{
            top: 130px;
            left: 40px;
        } 
    }

/*************************** CONTACT PAGE CSS ENDS ***************************/